<table class="table table-stripped">
  <thead>
    <th>title</th>
    <th>url</th>
    <th>created_at</th>
    <th>author</th>
  </thead>
  <tbody>
    <tr *ngFor="let post of blogs?.hits" (click)="showSinglePost(post, PostDetailModal)">
      <td>{{ post.title }}</td>
      <td>{{ post.url}}</td>
      <td>{{ post.created_at}}</td>
      <td>{{ post.author}}</td>
    </tr>
  </tbody>
</table>

<ng-template #PostDetailModal let-modal>
  <div class="modal-header">
   <h4> Showing {{ post.title}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()"><span>&times;</span></button>
  </div>
  <div class="modal-body">
    <pre>{{post | json}}</pre>
  </div>
</ng-template>
